<h2>Add new route:</h2>
<form action="/flight-routes" method="POST">

  <label for="FlightRoute">Flight Route</label>
  <input id="FlightRoute" name="route" type="text" placeholder="Flight Route">

  <label for ="Origin">Origin</label>
  <input id="Origin" name="origin" type="text" placeholder="Origin">

  <label for="Destination">Destination</label>
  <input id="Destination" name="destination" type="text" placeholder="Destination">

  <label for="Price">Price</label>
  <input id= "Price" type="text" name="price" placeholder="Price">

  <label for="Currency">Currency</label>
  <input id="Currency"type="text" name="currency" placeholder="Currency">

  <label>
    Select Airline:
    <select name="airline_name">
      <% for airline in @airlines %>
        <option value="<%=airline.id%>"><%= airline.airline_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select Deal:
    <select name="label">
      <% for deal in @deals %>
        <option value="<%=deal.id%>"><%= deal.label %></option>
      <% end %>
    </select>
  </label>
 
  <input type="submit" name="Add Route">
</form>