<h3>Can't find your favourite airline?</h3>
<h2>Use the form below to add it to the list!</h2>
<form action="/airlines" method="post">

  <label for="Airline">Airline Name</label>
  <input id="Airline" name="airline_name" type="text" placeholder="Airline Name">

  <input type="submit" value="Add Airline!">
</form>