<h3>Add new deal to airline</h3>

<form action="/airlines/<%=@airline.id%>/deals" method="POST">
  <label for="Deal">Deal</label>
  <input id="Deal" name="label" type="text" placeholder="Deal Label">

  <label for="Weekday">Weekday</label>
  <input id="Weekday" name="weekday" type="text" placeholder="Weekday">

  <label for="Month">Destination</label>
  <input id="Month" name="month" type="text" placeholder="Month">

  <label for="Discount">Discount</label>
  <input id="Discount" name="discount" type="text" placeholder="Discount">

  <label for="Type">Type</label>
  <input id="Type" name="type" type="text" placeholder="Type">

  <input type="submit" value="Submit">
</form>