<h1>Great deals are only a few click away!!!</h1>
<h2>It couldn't be easier...</h2>
<h2>For your convenience we made sure there are more than one way to do your search.</h2>
  <ul>
    <li>airline provider</li>
    <li>prefered routes</li>
    <li>available deals</li>
  </ul>
<h2>What's yours?!</h2>