<!DOCTYPE html>
<html>
<head>
  <title>Flight Route Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/logos.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <main>
    <h1 class="title">Flight Route Tracker</h1>
    <nav>
      <ul>
        <li>
          <a href="/airlines">Airlines</a>
        </li>
        <li>
          <a href="/flight-routes">Flight Routes</a>
        </li>
        <li>
          <a href ="/deals">Available Deals</a>
        </li>
      </ul>
    </nav>
    <section>
      <%=yield %>
    </section>
  </main>
</body>
</html>